# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variables
.env

# macOS metadata
.DS_Store

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Logs
*.log

# Packages
*.egg
*.egg-info/
dist/
build/
*.whl

# Other IDEs
.idea/
*.iml

# ML packages (if used)
*.mlpackage/